<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image, class: "labels" %>
    <div class="input_wrapper">
      <%= form.file_field :image, class: "forms"  %>
    </div>

  <div class="field">
    <%= form.label :text, class: "labels" %>
    <%= form.text_area :text, class: "forms" %>
  </div>

  <div class="field">

    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit 'share', class: "forms"%>
  </div>
<% end %>
